body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: gray;
}

#connect-four {
  width: 740px;
}

.board-column {
  height: 600px;
  width: 100px;
  display: inline-block;
}

#board {
  clear: both;
  border: 2px solid black;
  width: 740px;
  height: 600px;
  background-image: url("img/wood.jpg");
  background-repeat: repeat;
  padding: 0px;
}

.cell {
  background-color: gray;
  width: 90px;
  height: 90px;
  display: block;
  border-radius: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px solid black;
}

/*.cell:nth-child(6) {
    background: red;
}*/

h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  display: inline-block;
  float: left;
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  display: inline-block;
  float: right;
}
div {
  margin: 0 auto;
  text-align: center;
}

#player2 {
  display: none;
}
